/* Block.module.css */
.cards-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  */
    grid-template-columns: repeat(auto-fill, minmax(330px, max-content));
    gap: 16px; 
    overflow-x: auto; 
    margin:0 auto;

  }
  
